.header {
  height: 60px;
  width: 100%;
  background-color: rgb(29, 27, 27);
}

.container {
  height: 60px;
  width: 80%;
  display: inline-block;
  font-size: 0px;
  margin-left: 10%;
  vertical-align: top;
}
.logo {
  height: 60px;
  width: 15%;
  font-size: 40px;
  font-family: "Segoe UI";
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  vertical-align: top;
  color: #eff2f2;
}

.navigation {
  height: 60px;
  width: 50%;
  display: inline-block;
  margin-left: 35%;
  color: white;
}

.nav {
  font-size: 0px;
  list-style-type: none;
  text-align: center;
  line-height: 60px;
}

.nav_link {
  font-size: 16px;
  height: 60px;
  width: 20%;
  display: inline-block;
}

/* banner */
.banner {
  height: 700px;
  width: 100%;
  background-color: aqua;
  overflow: hidden;
}
.banner-img {
  width: 100%;
  margin-top: -150px;
}

/* dishesh */
.dishesh {
  width: 100%;
  background-color: rgb(244, 236, 240);
  display: inline-block;
}
.dish-container {
  padding-top: 30px;
  padding-bottom: 60px;
  height: 400px;
  width: 80%;
  background-color:rgb(199, 203, 202);
  margin-left: 10%;
}

.dish {
  margin-left: 3%;
  display: inline-block;
  height: 400px;
  width: 21%;
  vertical-align: top;

}
.dish_img {
  width: 100%;
  height: 200px;
  font-size: 0;
}
.dish_images {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.dish_txt {
  width: 100%;
  /* height: 180px; */
  font-family: "Segoe UI";
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(204, 189, 196);
}
.dish_name {
  margin: 0px;
  font-size: 30px;
  font-weight: bolder;
  /* font-family: Verdana, sans-serif; */
}
.first_word {
  font-size: 20px;
  font-weight: 5px;
}
.dish_btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #10bccf;
  border-radius: 5px;
  font-size: 16px;
  color: aliceblue;
  cursor: pointer;
}

/* about section */
.about {
  height: 520px;
  width: 100%;
  background-color:ivory;
  font-size: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.about_container {
  height: 500px;
  width: 80%;
  margin-left: 10%;
  font-size: 0px;
  display: inline-block;
  vertical-align: top;
}
.about_img {
  display: inline-block;
  width:50%;
  height: 500px;
  /* background-color: red; */
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 150px;

  
}
.about_txt {
  display: inline-block;
  /* height: 500px; */
  width: 50%;
  font-size: 20px;
  /* background-color: purple; */
  box-sizing: border-box;
  vertical-align: top;
  padding: 20px;
  margin-bottom: 10px;
}
.about_btn{
    border: none;
    padding: 10px 20px;
    background-color: #10bccf;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    color: aliceblue;
    cursor: pointer;
    
}
/*gallery*/
.gallery{
  height: 600px;
  width: 100%;
 background-color: rgb(205, 186, 186);
  margin-top: 100px;
  padding-top: 40px;
padding-bottom: 40px;
}
.gallery_top{
  height: 300px;
  width: 100%;
  background-color:yellow;
  font-size: 0px;
}
.gallery_bottom{
  height: 300px;
  width: 100%;
  background-color: brown;
}
.gallery_item{
  height: 100%;
  width: 25%;
  background-color: #10bccf;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.gall_img{
height: 100%;
}
.form-container{
  height: 600px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.mid-section{
  width: 40%;
  height: 500px;
  background-color: #eff2f2;
  margin-left: 30%;
  padding: 20px;
  box-sizing:border-box;
  font-family:Segoe UI;
  border-radius: 10px;

}
.form-title{
  font-size: 35px;
  margin-bottom: 10px;
}
.form-input{
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;

}
.form-btn{
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #10bccf;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
.footer{
  width: 100%;
 /* height: 400px;*/
 background-color: rgb(186, 166, 166);
  margin-top: 50px;
}

.footer-container{
  width: 80%;
  margin-left: 10%;
  font-size: 0px;
}

.footer-item{
  width: 32%;
  height: 300px;
 /* background-color: green;*/
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
  font-size: 16px;
}

.footer-title{
  font-size: 30px;
}

.addr-title{
  font-size: 25px;
  margin-bottom: 15px;
}

.addr-para{
  font-size: 17px;
  margin-bottom: 10px;
}

.google-map{
  height: 200px;
  width: 100%;
}







